Python List Manipulation Assignment

Instructions:

1. This assignment is designed to test your understanding of Python list manipulation, including slicing and indexing.

2. Ensure your code is well-commented and follows best practices.

3. Name your file as "list_assignment.py".

4. Submit your completed assignment by the specified deadline.

#Basic List Operations

Question 1: Basic List Operations

a) Create a list named `fruits` containing the following items: "apple", "banana", "orange", "grape", "kiwi".

b) Add "pear" to the end of the list.

c) Insert "mango" at the second position in the list.

d) Remove "orange" from the list.

Answer of question 1:

I will run parts (a to d) in different cell.

a) Create a list named fruits containing the following items: "apple", "banana", "orange", "grape", "kiwi".

In [ ]:
fruits=["apple", "banana", "orange", "grape", "kiwi"]
print (fruits)

['apple', 'banana', 'orange', 'grape', 'kiwi']

b) Add "pear" to the end of the list.

In [ ]:
fruits=["apple", "banana", "orange", "grape", "kiwi"]
fruits.insert(5,"pear")
print (fruits)

['apple', 'banana', 'orange', 'grape', 'kiwi', 'pear']

c) Insert "mango" at the second position in the list.

In [ ]:
fruits=["apple", "banana", "orange", "grape", "kiwi"]
fruits.insert(1,"mango")
print (fruits)

['apple', 'mango', 'banana', 'orange', 'grape', 'kiwi']


d) Remove "orange" from the list.

In [ ]:
fruits=["apple", "banana", "orange", "grape", "kiwi"]
fruits.remove("orange")
print (fruits)

['apple', 'banana', 'grape', 'kiwi']

I will run all parts (a to d) in one single cell.

In [ ]:

#part (a)
fruits=["apple", "banana", "orange", "grape", "kiwi"]
#part(b)
fruits.insert(5,"pear")
#part(c)
fruits.insert(1,"mango")
#part(d)
fruits.remove("orange")
print (fruits)

['apple', 'mango', 'banana', 'grape', 'kiwi', 'pear']

#Slicing and Indexing

Question 2: Slicing and Indexing

a) Create a list named `numbers` containing the integers from 0 to 9.

b) Print the element at index 3.

c) Print a sublist containing the elements from index 2 to 6 (inclusive).

d) Print the last three elements using negative indexing.

Answer of question 2:

In [ ]:
#a) Create a list named `numbers` containing the integers from 0 to 9.
numbers=[0,1,2,3,4,5,6,7,8,9]
print (numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#b) Print the element at index 3.
numbers=[0,1,2,3,4,5,6,7,8,9]
print(numbers[2])

2

In [ ]:
#c) Print a sublist containing the elements from index 2 to 6 (inclusive).
#we are also included index 6 in above code
numbers=[0,1,2,3,4,5,6,7,8,9]
print(numbers[1:6])

[1, 2, 3, 4, 5]

In [ ]:
#c-1) Print a sublist containing the elements from index 2 to 6 (inclusive).
#we are also excluded index 6 in above code
numbers=[0,1,2,3,4,5,6,7,8,9]
print(numbers[1:5])

[1, 2, 3, 4]

In [ ]:
#d) Print the last three elements using negative indexing.
numbers=[0,1,2,3,4,5,6,7,8,9]
print(numbers[-3:-1])

[7, 8]

I will run all parts (a to d) in one single cell.

In [ ]:
#a) Create a list named `numbers` containing the integers from 0 to 9.
numbers=[0,1,2,3,4,5,6,7,8,9]
print (numbers)
#b) Print the element at index 3.
numbers=[0,1,2,3,4,5,6,7,8,9]
print(numbers[2])
#c) Print a sublist containing the elements from index 2 to 6 (inclusive).
#we are also included index 6 in above code
numbers=[0,1,2,3,4,5,6,7,8,9]
print(numbers[1:6])
#c-1) Print a sublist containing the elements from index 2 to 6 (inclusive).
#we are also excluded index 6 in above code
numbers=[0,1,2,3,4,5,6,7,8,9]
print(numbers[1:5])
#d) Print the last three elements using negative indexing.
numbers=[0,1,2,3,4,5,6,7,8,9]
print(numbers[-3:-1])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
2
[1, 2, 3, 4, 5]
[1, 2, 3, 4]
[7, 8]

#List Comprehension

Question 3: List Comprehension

a) Create a list named `squares` using a list comprehension that contains the squares of numbers from 1 to 10.

b) Create a new list named `even_squares` using a list comprehension that contains the squares of even numbers from the `squares` list.

Answer of question 3:

In [ ]:
#a) Create a list named squares using a list comprehension that contains the squares of numbers from 1 to 10.
numbers_without_squares=[1,2,3,4,5,6,7,8,9,10]
squares=[x**2 for x in numbers_without_squares]

In [ ]:
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#b) Create a new list named even_squares using a list comprehension that contains the squares of even numbers from the squares list.
numbers_without_squares=[1,2,3,4,5,6,7,8,9,10]
squares=[x**2 for x in numbers_without_squares]
even_squares=[x for x in squares if x%2==0]

In [ ]:
even_squares

[4, 16, 36, 64, 100]

I will run all parts (a to b) in one single cell.

In [ ]:
#a) Create a list named squares using a list comprehension that contains the squares of numbers from 1 to 10.
numbers_without_squares=[1,2,3,4,5,6,7,8,9,10]
squares=[x**2 for x in numbers_without_squares]
print(squares)
#b) Create a new list named even_squares using a list comprehension that contains the squares of even numbers from the squares list.
numbers_without_squares=[1,2,3,4,5,6,7,8,9,10]
squares=[x**2 for x in numbers_without_squares]
even_squares=[x for x in squares if x%2==0]
print(even_squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[4, 16, 36, 64, 100]

#List Manipulation

Question 4: List Manipulation

a) Create a list named `colors` containing the following items: "red", "green", "blue", "yellow", "purple".

b) Swap the first and last elements of the list.

c) Reverse the order of the list.

d) Remove the second and third elements from the list.

Answer of question 4:

In [ ]:
#a) Create a list named colors containing the following items: "red", "green", "blue", "yellow", "purple".
colors=["red", "green", "blue", "yellow", "purple"]
print(colors)

['red', 'green', 'blue', 'yellow', 'purple']

In [ ]:
#b) Swap the first and last elements of the list.
def swap(colors, pos1, pos5):

    colors[pos1], colors[pos5] = colors[pos5], colors[pos1]
    return colors

colors=["red", "green", "blue", "yellow", "purple"]
pos1, pos5  = 1, 5

print(swap(colors, pos1-1, pos5-1))

['purple', 'green', 'blue', 'yellow', 'red']

In [ ]:
#c) Reverse the order of the list.
colors=["red", "green", "blue", "yellow", "purple"]
colors.reverse()
print(colors)

['purple', 'yellow', 'blue', 'green', 'red']

In [ ]:
#d) Remove the second and third elements from the list.
colors=["red", "green", "blue", "yellow", "purple"]
del colors[1:3]
colors

['red', 'yellow', 'purple']

I will run all parts (a to d) in one single cell.

In [ ]:
#a) Create a list named colors containing the following items: "red", "green", "blue", "yellow", "purple".
colors=["red", "green", "blue", "yellow", "purple"]
print(colors)
#b) Swap the first and last elements of the list.
def swap(colors, pos1, pos5):

    colors[pos1], colors[pos5] = colors[pos5], colors[pos1]
    return colors

colors=["red", "green", "blue", "yellow", "purple"]
pos1, pos5  = 1, 5

print(swap(colors, pos1-1, pos5-1))
#c) Reverse the order of the list.
colors=["red", "green", "blue", "yellow", "purple"]
colors.reverse()
print(colors)
#d) Remove the second and third elements from the list.
colors=["red", "green", "blue", "yellow", "purple"]
del colors[1:3]
colors

['red', 'green', 'blue', 'yellow', 'purple']
['purple', 'green', 'blue', 'yellow', 'red']
['purple', 'yellow', 'blue', 'green', 'red']

['red', 'yellow', 'purple']

#Advanced Slicing

Question 5: Advanced Slicing

a) Create a list named `letters` containing the letters from 'a' to 'j'.

b) Using slicing, create a new list `first_half` containing the first half of the `letters` list.

c) Using slicing, create a new list `last_three` containing the last three elements of the `letters` list.

Answer of question 5:

In [ ]:
#a) Create a list named letters containing the letters from 'a' to 'j'.
letters=["a","b","c","d","e","f","g","h","i","j"]
print(letters)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
#b) Using slicing, create a new list first_half containing the first half of the letters list.
first_half=letters[:len(letters)//2]
print(first_half)

['a', 'b', 'c', 'd', 'e']

In [ ]:
#c) Using slicing, create a new list last_three containing the last three elements of the letters list.
last_three=letters[-3:]
print(last_three)

['h', 'i', 'j']

I will run all parts (a to c) in one single cell.

In [ ]:
#a) Create a list named letters containing the letters from 'a' to 'j'.
letters=["a","b","c","d","e","f","g","h","i","j"]
print(letters)
#b) Using slicing, create a new list first_half containing the first half of the letters list.
first_half=letters[:len(letters)//2]
print(first_half)
#c) Using slicing, create a new list last_three containing the last three elements of the letters list.
last_three=letters[-3:]
print(last_three)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
['a', 'b', 'c', 'd', 'e']
['h', 'i', 'j']

#Nested Lists

Question 6: Nested Lists

a) Create a nested list named `matrix` with the following rows:
   - [1, 2, 3]
   - [4, 5, 6]
   - [7, 8, 9]

b) Print the element in the second row and third column.

c) Use nested indexing to change the value at the second row and first column to 0.

Answer of question 6:

In [ ]:
#a) Create a nested list named matrix with the following rows:
matrix=[[1, 2, 3],[4, 5, 6],[7, 8, 9]]
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
#b) Print the element in the second row and third column.
matrix=[[1, 2, 3],[4, 5, 6],[7, 8, 9]]
print(matrix[1][2])
#how 1 and 2 to print the element in the second row and third column.
#index = ---0---- ,----1--- ,----2----
#matrix=[[1, 2, 3],[4, 5, 6],[7, 8, 9]]
#index= ---0,1,2--,--0,1,2--,--0,1,2--
#matrix[1][2]
#matrix[list2, index3]

6

In [ ]:
#c) Use nested indexing to change the value at the second row and first column to 0.
matrix=[[1, 2, 3],[4, 5, 6],[7, 8, 9]]
#how 1 and 2 to print the element in the second row and and first column to 0.
#index = ---0---- ,----1--- ,----2----
#matrix=[[1, 2, 3],[4, 5, 6],[7, 8, 9]]
#index= ---0,1,2--,--0,1,2--,--0,1,2--
#matrix[1][0]=0
#matrix[list2, index1]
matrix[1][0]=0
print(matrix)

[[1, 2, 3], [0, 5, 6], [7, 8, 9]]

I will run all parts (a to c) in one single cell.

In [ ]:
#a) Create a nested list named matrix with the following rows:
matrix=[[1, 2, 3],[4, 5, 6],[7, 8, 9]]
print(matrix)

#b) Print the element in the second row and third column.
print(matrix[1][2])
#how 1 and 2 to print the element in the second row and third column.
#index = ---0---- ,----1--- ,----2----
#matrix=[[1, 2, 3],[4, 5, 6],[7, 8, 9]]
#index= ---0,1,2--,--0,1,2--,--0,1,2--
#matrix[1][2]
#matrix[list2, index3]

#c) Use nested indexing to change the value at the second row and first column to 0.
#how 1 and 2 to print the element in the second row and and first column to 0.
#index = ---0---- ,----1--- ,----2----
#matrix=[[1, 2, 3],[4, 5, 6],[7, 8, 9]]
#index= ---0,1,2--,--0,1,2--,--0,1,2--
#matrix[1][0]=0
#matrix[list2, index1]
matrix[1][0]=0
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
6
[[1, 2, 3], [0, 5, 6], [7, 8, 9]]